body {
  font-size: 16px;
  color: #00001a;
  background-color:  #5c5c8a;
  font-family: 'Oxygen', sans-serif;
}
.navbar {
  background-color: #cceeff;
}
#collapsable-nav a{
  text-align: center;
  color: #00001a;
  font-weight: bold;
}
h2 {
  margin-bottom: 50px;
}
.section-title span {
  display: block;
  font-weight: bold;
  width: 100%;
  opacity: .5;
  padding: 5px;
  font-size: 1.20em;
}

.section-container {
  width: 100%;	
  background-color: #0086b3;
}
#section1, #section2, #section3 {
  text-align: center;
  border: 2px solid black;
  margin-bottom: 20px;
}
.section-container div {

}